absl-py==0.7.1
astor==0.7.1
audioread==2.1.6
cycler==0.10.0
decorator==4.4.0
gast==0.2.2
grpcio==1.20.0
h5py==2.9.0
joblib==0.13.2
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
librosa==0.6.3
llvmlite==0.28.0
Markdown==3.1
matplotlib==3.0.3
mock==2.0.0
numba==0.43.1
numpy==1.16.3
pbr==5.1.3
protobuf==3.7.1
pyparsing==2.4.0
python-dateutil==2.8.0
resampy==0.2.1
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
Werkzeug==0.15.2
